3MD1510_IAL-main-Tweetoscope/Tweetoscope/InitialTweetoscope/.classpath
3MD1510_IAL-main-Tweetoscope/Tweetoscope/InitialTweetoscope/.project
3MD1510_IAL-main-Tweetoscope/Tweetoscope/InitialTweetoscope/.settings/
3MD1510_IAL-main-Tweetoscope/Tweetoscope/InitialTweetoscope/target/
/.metadata/
